<!DOCTYPE html>
<html lang="{{ lang | default(value=config.default_language) }}">
<head>
    <title>{% block title %}{{ config.title | default(value="Francisco Sandoval") }}{% endblock %}</title>
    {% include "partials/head.html" %}
    {% block head %}{% endblock %}
</head>
<body>
    {% include "partials/header.html" %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% block cta %}
    {% include "partials/cta.html" %}
    {% endblock %}

    {% include "partials/footer.html" %}

    <script>
        document.querySelector('.menu-toggle').addEventListener('click', function() {
            document.querySelector('.main-nav').classList.toggle('active');
            this.classList.toggle('active');
        });
    </script>
</body>
</html>
